

/* Utility Class Start  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;
}


/* Header-section Start  */

 header{

 }

 div#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 20px;
   padding-block: 20px;
 }

 div.logo img{
    height: 45px;

 }


 div.search-bar{
   display: flex;
   align-items: center;
   gap: 10px;
   
 }

 div.search-bar input{
  border: 1px solid rgb(232, 221, 221);
  width: 500px;
  padding: 10px;
  border-radius: 10px;
 }

 div.search-bar i{
   font-size: 20px;
   background-color: rgb(88, 88, 223);
   color: white;
   padding: 8px;
   border-radius: 50%;
   
 }
 div.call-us , div.shiping{
   display: flex;
   align-items: center;
   gap: 20px;
 }

 div.call-us i,div.shiping i{
    font-size: 25px;
 }

 div.call-us a , div.shiping a{
    text-decoration: none;
    padding-top: 5px;
    display: inline-block;
    font-size: 14px;
 }
 
/* Header-section End  */


/* nav section start  */


/* menu-bar desaign */
 
 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: #E6EFFD;
    padding-block: 10px;

    
 }

 div.menu ul{
    display: flex;
    gap: 25px;
    align-items: center;
 }

 div.menu li{
    list-style: none;
 }

 div.menu a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.5s ease background-color;
    border-radius: 25px;
    padding: 10px;
 }


 div.menu a:hover , .active{
    background-color: #C3D0FE;
  
 }
/* menu-bar end  */


 /* user-car start  */

    .user-cart{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .user-cart i{
        font-size: 20px;
        padding: 12px;
        background-color: white;
        border-radius: 50%;
    }

 /* user-car End  */

/* nav section End  */
